@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif ;
}
:root{
    --result-color : hsl(259, 100%, 65%);
    --error-color : hsl(0, 100%, 67%);
    --background-color: hsl(0, 0%, 94%);
    --container-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 8%);
    --label-color : hsl(0, 0%, 86%);
    --placeholder-color: hsl(0, 1%, 44%);
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 0 15px;
}
@media (max-width:450px ) {
    body{
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
}
.container{
    background-color: var(--container-color);
    min-height: 450px;
    min-width: fit-content;
    width: 570px;
    max-width: 1000px;
    padding: 30px;
    border-radius: 10px 10px 60px;
}
@media (max-width:450px ) {
    .container{
        width: 100%;
        padding: 8px;

    }
}
.container form{
    display: flex;
    margin-bottom: 20px;
}
.container form > div{
    display: flex;
    flex-direction: column;
    margin-right:20px ;
}
.container form > div label{
    color: var(--placeholder-color);
    font-size: 14px;
    margin-bottom: 5px;
}
.container form > div input{
    padding: 10px 10px;
    width: 120px;
    border-radius: 6px;
    border: none;
    border:2px solid var(--label-color);
    font-size: 30px;
}
@media (max-width:450px ) {
    .container form > div input{
        width: 90px;
        font-size: 20px;
    }
    
}
.container form > div input:focus{
    outline: none;
    border-color: var(--result-color);
}
.container form > div input{
    color: var(--result-color);
}
.container form .error{
    color: var(--error-color);
    font-size: 14px;
}
.button {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width:450px ) {
    .button{
        justify-content: center;
    }
}
.button button{
    all:unset;
    background-color: var(--result-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}
.button button:hover{
    background-color: black;
}
.button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--label-color);
    top : 50%;
    transform: translateY(-50%);
    z-index: 1;

}

.result {
    font-size: 65px;
    font-weight: 800;
}
@media (max-width:450px ) {
    .result{
        font-size: 55px;
    }
}
.result span{
    color: var(--result-color);
}


